.sidebar {
  width: 150px;
  background-color: #38597b; /* Blu */
  color: white;
  padding: 20px;
  height: 100vh;   /* vh: viewport height — cioè l’altezza della finestra visibile del browser. */
}

.menu-item {
  margin-bottom: 10px;
}

.menu-title {
  cursor: pointer; /*cambia l’aspetto del puntatore del mouse quando passa sopra un elemento. */
  font-weight: bold;
}

.submenu {
  display: flex;
  flex-direction: column; /* verticale */
  margin-left: 20px;
  margin-top: 5px;
}

.submenu-link {
  color: white;         /* testo bianco */
  text-decoration: none; /* rimuove sottolineatura */
}

/* Contenitore bandiere */
.language-switcher {
  position: absolute;      /* Fissa il contenitore in basso a sinistra */
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 10px;               /* Spazio tra bandiere */
}

/* Singola bandiera */
.flag-icon {
  width: 30px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.flag-icon:hover {
  transform: scale(1.1);   /* Effetto zoom al passaggio mouse */
}