.App {
  display: flex;
}

.App-header {
  padding: 10px;
  font-size: calc(15px + 1vmin);
  background-color: #38597b;
  color: white;
  margin: 0px;
  text-decoration: none; /* niente sottolineatura */
  cursor: pointer;      /* cambia il cursore al passaggio */
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.Main {
  display: flex;
  flex: 1;
}


.Content {
  flex: 1;
  overflow: hidden;
}

.SeaImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spinner {
  position: fixed;       /* rimane fisso sopra tutto */
  top: 50%;              /* centrato verticalmente */
  left: 50%;             /* centrato orizzontalmente */
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 6px solid #f3f3f3;  /* colore grigio chiaro */
  border-top: 6px solid #3498db; /* colore blu professionale */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;         /* sopra tutti gli altri elementi */
}

/* animazione di rotazione */
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}



